# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so


# ---> VisualStudioCode
.settings
*.code-workspace
.vscode

# Directories and files
bin
bin/*
.ipynb_checkpoints
.ipynb_checkpoints/*
build
build/*
dist
dist/*
__pycache__
__pycache__/*
*.csv
*.xml
*.ipynb
*.spec
*.wxg
